.app {
  background: white;
  width: 100vw;
  height: 100vh;
  max-height: 768px;
  max-width: 1024px;

  display: grid;
  grid-template-columns: 228px auto;
  grid-template-rows: 100%;
}

.contact-list-container {
  background: #f8faff;

  display: flex;
  flex-direction: column;
}

.contact-list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 17px;
}

.contact-list-header > h1 {
  display: inline-block;
  margin: 0;
}

.add-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;

  height: 43px;

  color: #579aff;
}
