.contact-form {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 30px;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content auto min-content;
}

.names-section {
  display: flex;
}

.names-section > * {
  flex-grow: 1;
}
.names-section > * + * {
  margin-left: 30px;
}

.names-section .text-input {
  display: block;
  width: 100%;
}

.emails-section {
  margin-top: 25px;
}

.buttons-section {
  display: grid;
  grid-template:
    "delete . cancel submit"
    / min-content auto min-content min-content;
  gap: 30px;
}

.text-input {
  padding: 10px;

  background: #f9fbff;
  border: 1px solid #d7e7ff;
  box-sizing: border-box;
}

.delete-button {
  height: 36px;
  width: 120px;
  font-size: 20px;

  grid-area: delete;

  background: #ff5757;
  color: white;
  border: none;
}

.cancel-button {
  height: 36px;
  width: 120px;
  font-size: 20px;

  grid-area: cancel;

  background: #f9fbff;
  border: 1px solid #579aff;
  box-sizing: border-box;
}

.submit-button {
  height: 36px;
  width: 120px;
  font-size: 20px;

  grid-area: submit;

  background: #579aff;
  color: white;
  border: none;
}

.email-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.email-list > * + * {
  margin-top: 8px;
}

.email-delete-button {
  cursor: pointer;
  background: none;
  color: #ff5757;
  border: none;

  display: none;
}

li:hover > .email-delete-button {
  display: inline-block;
}

.email-delete-button > svg {
  position: relative;
  top: 3px;
  margin: -6px 0;
}

.email-add-button {
  cursor: pointer;
  background: none;
  color: #579aff;
  border: none;

  position: relative;
  top: 5px;
}

.email-add-button > svg {
  position: relative;
  top: 6px;
  margin: -3px 0;
}
