.contact-list {
  list-style: none;
  margin: 0;
  padding: 0;

  overflow: auto;
}

.unbutton {
  background: none;
  border: none;
  cursor: pointer;

  width: 100%;
  height: 35px;
  padding: 0 20px;

  text-align: left;
}

.unbutton:hover {
  background: #d8e7ff;
}

.unbutton.selected-contact {
  background: #579aff;
  color: white;
}
