body {
  margin: 0;
  font-family: Lato;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh;
  background: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
